*{
    margin: 0;
    padding: 0;
}
body{
    background: 3b3f48;
}
.container{
    width: 430px;
    height: 350px;
    background-size:cover ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    perspective: 1000px;
    border: 1px solid #046307;
    background-color: black;
}
h2{
    font-size: 1rem;
    top: auto;
    color: white;
}
p.para{
   position: fixed;
    color: white;
    text-align: justify;
    top: 100px;
}
p.pera{
    position: fixed;
    color: white;
    text-align: justifys;
    top: 120px;

}
.dash{
    position: fixed;
    color: white;
    text-align: justify;
    top: 150px;
    left: 80px;
}
.cover{
    width: 430px;
    height: 350px;
    color: white;
    position: fixe;
    left: auto;
    background-size:cover ;
    transform: rotateY(-1deg);
    transform-style: preserve-3d;
    transform-origin: left;
    transition: all ls ease-in;
    border: 1px solid #046307;
    background-color: black;
}
.container:hover .cover{
    transform: rotateY(-130deg);
}
.figure{
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}